* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 22px;
  color: rgb(229, 242, 250);
}

h2 {
  text-align: center;
  font-size: 36px;
  color: rgb(193, 218, 255);
  width: 100%;
}

p {
  text-align: center;
  color: rgb(218, 183, 152);
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-image: radial-gradient(circle at 0% 0%, #373b52, #252736 51%, #1d1e26);
  or: #373b52;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Header Styling */
.header-bar {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(
    11deg,
    rgba(41, 17, 99, 0.05) 0%,
    rgba(153, 56, 180, 0.05) 41%,
    rgba(252, 176, 69, 0.05) 100%
  );

  padding-right: 120px;
  border: 2px solid rgba(34, 33, 51, 0.4);

  position: relative;
}

.abs-center {
  padding-top: 10px;
  position: absolute;
  width: 100vw;
}

.header {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructions {
  width: 80%;
}

.log-btn {
  color: white;
  font-size: 18px;
  width: 150px;
  height: 40px;
  background: none;
  border-radius: 5px;
  border: none;
}

.log-btn:hover {
  background: #36333d;
}
/* Form Styling  */

form {
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 100%;
  position: relative;
  height: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
}

form input {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 18px;
  padding-top: 20px;
  border: none;
  background-color: #353a4d;
  padding-left: 20px;
  padding-bottom: 2px;
  outline: none;
}

.form label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 2px solid rgb(182, 165, 209);
}

.form label::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -2px;
  height: 3px;
  width: 100%;

  background: linear-gradient(to right, #b294ff, #57e6e6, #ffb8ed, #57e6e6, #b294ff, #57e6e6);
  background-size: 500% auto;
  animation: gradient linear 3s infinite;
  transform: translateX(-100%);
  transition: transform 0.3 ease;
}

/* gradient animation */
@keyframes gradient {
  from {
    background-position: -400px;
  }
  to {
    background-position: -20px;
  }
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 20px;
  transition: all 0.3s ease;
  font-size: 22px;
  color: rgb(165, 177, 209);
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
  transform: translateY(-75%) scale(0.65);
  left: 5px;
}

.form input:focus + .label-name::after,
.form input:valid + .label-name::after {
  transform: translateX(0%);
}

.reg-log {
  margin-top: 60px;
}

.reg-button {
  color: white;
  font-size: 18px;
  width: 300px;
  height: 60px;
  background: rgb(127, 107, 173);
  border-radius: 120px;
  border: none;
  margin: 25px;
}

.reg-button:hover {
  background: rgb(157, 130, 221);
  transform: scale(1.05);
}

.reg-body {
  width: 40vw;
}

.reg-switch {
  display: flex;
  justify-content: space-evenly;
}

.reg-underline {
  background-color: #b6a5d1;
  width: 100%;
  height: 3px;
}

.switch-btn {
  height: 50px;
  width: 100%;
  font-size: 22px;
  font-weight: bold;
  color: #171822;
  background-color: #353a4d;
  border: none;
  outline: none;
}

/* Resolutions Form */

.res-add {
  display: flex;
}

.add-btn {
  width: 60px;
  font-size: 48px;
  font-weight: bold;
  color: #171822;
  color: rgb(193, 218, 255);
  border: none;
  outline: none;
  background: none;
}

.add-btn:hover {
  transform: scale(1.05);
  color: rgb(157, 140, 255);
}

/* Resolution layout */

.resolutions-layout {
  width: 70vw;
  background-color: #35354d;
  border-radius: 10px;
}

.single-res {
  font-size: 48px;
  color: red;
}

.single-goal {
  font-size: 48px;
  color: blue;
}

/*  Responsive Section */
@media (max-width: 1200px) {
  h1 {
    /* color: lightgreen; */
    font-size: 144px;
  }

  h2 {
    text-align: center;
    font-size: 72px;
    color: rgb(193, 218, 255);
    width: 100%;
  }

  p {
    font-size: 22px;
    text-align: center;
    color: rgb(189, 167, 148);
  }

  form {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header {
    padding-top: 50px;
  }

  .instructions {
    width: 100%;
    padding: 60px;
  }

  .form {
    width: 100%;
    position: relative;
    height: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: hidden;
  }

  form input {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 40px;
    padding-top: 50px;
    border: none;
    background-color: #353a4d;
    padding-left: 20px;
    padding-bottom: 4px;
    outline: none;
  }

  .content-name {
    position: absolute;
    bottom: 5px;
    left: 20px;
    transition: all 0.3s ease;
    font-size: 44px;
    color: rgb(165, 177, 209);
  }

  .login {
    margin-top: 80px;
  }

  .register {
    margin-top: 40px;
  }

  .reg-button {
    color: white;
    font-size: 32px;
    width: 600px;
    height: 120px;
    background: rgb(127, 107, 173);
    border-radius: 240px;
    border: none;
    margin: 50px;
  }

  .reg-body {
    width: 80vw;
  }

  .switch-btn {
    height: 100px;
    width: 100%;
    font-size: 44px;
    font-weight: bold;
    color: #171822;
    background-color: #353a4d;
    border: none;
    outline: none;
  }
}
