* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 22px;
  color: rgb(229, 242, 250);
}

h2 {
  text-align: center;
  font-size: 36px;
  color: rgb(193, 218, 255);
  width: 100%;
  margin-bottom: 10px;
}

h3 {
  width: 100%;
  text-align: center;
  padding: 12px;
}

p {
  text-align: center;
  color: rgb(218, 183, 152);
}

ul {
  list-style: none;
}
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-image: radial-gradient(circle at 0% 0%, #373b52, #252736 51%, #1d1e26);
  or: #373b52;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

button:focus {
  outline: 0;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Header Styling */
.header-bar {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(11deg, rgba(41, 17, 99, 0.05) 0%, rgba(153, 56, 180, 0.05) 41%, rgba(252, 176, 69, 0.05) 100%);
  padding-right: 120px;
  border: 2px solid rgba(34, 33, 51, 0.4);
  position: relative;
}

.header-bar-visibility {
  visibility: hidden;
}

.abs-center {
  padding-top: 10px;
  position: absolute;
  width: 100vw;
}

.header-body {
  width: 100vw;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user {
  display: flex;
  align-items: center;
}

.user-icon {
  height: 40px;
  width: 28px;
  padding-top: 8px;
}

.user-name {
  color: #fff;
  padding-left: 10px;
}

.instructions {
  width: 80%;
}

/* log out style */

.logout-btn {
  color: white;
  font-size: 18px;
  width: 150px;
  height: 40px;
  background: none;
  border-radius: 5px;
  border: none;
}

.logout-btn:hover {
  background: #36333d;
}
/* Form Styling  */ /* Resolutions Form */

form {
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 100%;
  position: relative;
  height: 50px;
  margin-bottom: 15px;
  overflow: hidden;
}

/* .goal-form {
  height: 30px;
} */

form input {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 18px;
  padding-top: 20px;
  border: none;
  background-color: #353a4d;
  padding-left: 20px;
  padding-bottom: 2px;
  outline: none;
}

.goal-input {
  background-color: #353a4d00;

  bottom: 8px;
}

.form label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 2px solid rgb(182, 165, 209);
}

.form label::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -2px;
  height: 3px;
  width: 100%;
  background: linear-gradient(to right, #b294ff, #57e6e6, #ffb8ed, #57e6e6, #b294ff, #57e6e6);
  background-size: 500% auto;
  animation: gradient linear 3s infinite;
  transform: translateX(-100%);
  transition: transform 0.3 ease;
}

/* gradient animation */
@keyframes gradient {
  from {
    background-position: -400px;
  }
  to {
    background-position: -20px;
  }
}

.content-name {
  position: absolute;
  bottom: 1px;
  left: 20px;
  transition: all 0.3s ease;
  font-size: 22px;
  color: rgb(165, 177, 209);
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
  transform: translateY(-75%) scale(0.65);
  left: 5px;
}

.form input:focus + .label-name::after,
.form input:valid + .label-name::after {
  transform: translateX(0%);
}

/* Goal Mods to form input */

.goal-content-name {
  color: rgb(22, 25, 32);
  position: absolute;
  bottom: 1px;
  left: 20px;
  transition: all 0.3s ease;
  font-size: 22px;
}

.form input:focus + .label-name .goal-content-name,
.form input:valid + .label-name .goal-content-name {
  opacity: 0%;
  left: 5px;
}

/* Resolutions Form */

.res-add {
  display: flex;
  padding: 20px;
}

.add-btn {
  width: 60px;
  font-size: 48px;
  font-weight: bold;
  color: #171822;
  color: rgb(193, 218, 255);
  border: none;
  outline: none;
  background: none;
  padding: 20px;
  padding-bottom: 30px;
}

.del-btn-icon {
  height: 22px;
  width: 22px;

  stroke: #272633;
}

.del-btn {
  border: none;
  outline: none;
  background: none;

  stroke: #272633;
}

.del-btn:hover {
  stroke: rgb(89, 78, 151);
}

.add-btn:hover {
  color: rgb(157, 140, 255);
}

/* Registration  */
.reg-log {
  margin-top: 60px;
}

.reg-button {
  color: white;
  font-size: 18px;
  width: 300px;
  height: 60px;
  background: rgb(127, 107, 173);
  border-radius: 120px;
  border: none;
  margin: 25px;
}

.reg-button:hover {
  background: rgb(157, 130, 221);
  transform: scale(1.05);
}

.reg-body {
  width: 40vw;
}

.reg-switch {
  display: flex;
  justify-content: space-evenly;
}

.reg-underline {
  background-color: #b6a5d1;
  width: 100%;
  height: 3px;
}

.switch-btn {
  height: 50px;
  width: 100%;
  font-size: 22px;
  font-weight: bold;
  color: #171822;
  background-color: #353a4d;
  border: none;
  outline: none;
}

.error-message {
  padding-top: 40px;
  color: rgb(218, 152, 152);
}

/* Resolutions layout */
.res-input-container {
  margin: 25px;
  padding: 30px;
  width: 40vw;
  background-color: #98deff0e;
  border-radius: 10px;
  box-shadow: 20px 20px 34px 0px rgb(23, 20, 24);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.resolutions-layout {
  padding: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70vw;
  background-color: #35354d;
  border-radius: 10px;
}

.resolutions-container {
  margin: 25px;
  padding: 30px;
  background-color: #d6ccbd17;
  border-radius: 10px;
  -webkit-box-shadow: 20px 20px 34px 0px rgba(104, 92, 107, 1);
  -moz-box-shadow: 20px 20px 34px 0px rgba(104, 92, 107, 1);
  box-shadow: 20px 20px 34px 0px rgb(23, 20, 24);
  display: flex;
}

.resolution {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  margin-bottom: 40px;
}

.res-del-btn {
  width: 33px;
  height: 33px;
  border: none;
  outline: none;
  background: none;
  padding-bottom: 10px;
  stroke: rgb(236, 244, 255);
}

.res-del-btn:hover {
  stroke: #bb6969;
}

.single-res {
  font-size: 32px;
  color: rgb(236, 244, 255);
  text-align: start;
}

.single-goal {
  color: rgb(194, 165, 221);
  text-align: center;
  padding-top: 5px;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  height: 40px;
}

/*  Responsive Section */
@media (max-width: 1200px) {
  h1 {
    /* color: lightgreen; */
    font-size: 90px;
  }

  h2 {
    text-align: center;
    font-size: 72px;
    color: rgb(193, 218, 255);
    width: 100%;
    padding: 20px;
  }

  p {
    font-size: 22px;
    text-align: center;
    color: rgb(189, 167, 148);
  }

  form {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header {
    padding-top: 50px;
  }

  .abs-center {
    margin-top: 120px;
  }

  .header-bar {
    height: 120px;
    padding-right: 20px;
    justify-content: space-between;
  }

  .user {
    padding-left: 60px;
  }
  .user-icon {
    height: 80px;
    width: 56px;
    padding-top: 8px;
  }

  .user-name {
    font-size: 36px;
  }

  .logout-btn {
    font-size: 36px;
    width: 300px;
    height: 80px;
    border-radius: 10px;
  }

  .instructions {
    width: 90%;
    padding-top: 140px;
    padding-bottom: 50px;
  }

  .form {
    width: 100%;
    position: relative;
    height: 100px;
    overflow: hidden;
    margin: 15px;
  }

  form input {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 40px;
    padding-top: 50px;
    border: none;
    background-color: #353a4d;
    padding-left: 20px;
    padding-bottom: 4px;
    outline: none;
  }

  .label-name {
    font-size: 44px;
  }

  .content-name {
    position: absolute;
    bottom: 5px;
    left: 20px;
    transition: all 0.3s ease;
    font-size: 44px;
    color: rgb(165, 177, 209);
  }

  .goal-content-name {
    font-size: 44px;
  }
  .add-btn {
    font-size: 86px;
  }

  .login {
    margin-top: 80px;
  }

  .register {
    margin-top: 40px;
  }

  .reg-button {
    color: white;
    font-size: 32px;
    width: 600px;
    height: 120px;
    background: rgb(127, 107, 173);
    border-radius: 240px;
    border: none;
    margin: 50px;
  }

  .reg-body {
    width: 80vw;
  }

  .switch-btn {
    height: 100px;
    width: 100%;
    font-size: 44px;
    font-weight: bold;
    color: #171822;
    background-color: #353a4d;
    border: none;
    outline: none;
  }

  .res-input-container {
    width: 95vw;
  }

  .resolutions-layout {
    width: 97vw;
  }

  .del-btn {
    width: 50px;
    height: 50px;
  }

  .single-res {
    font-size: 64px;
  }

  .res-del-btn {
    width: 70px;
    height: 70px;
    padding-bottom: 20px;
  }

  .single-goal {
    height: 100px;
  }
}

/* Customize the label (the container) */
.container2 {
  margin: 10px;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 5px;
  background-color: rgb(211, 194, 233);
}

/* On mouse-over, add a grey background color */
.container2:hover input ~ .checkmark {
  background-color: rgb(106, 93, 136);
}

/* When the checkbox is checked, add a blue background */
.container2 input:checked ~ .checkmark {
  background-color: #353535;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container2 input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container2 .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media (max-width: 1200px) {
  .container2 {
    font-size: 48px;
    padding-left: 90px;
  }
  .checkmark {
    height: 66px;
    width: 66px;
    border-radius: 10px;
    padding: 15px;
  }

  .container2 .checkmark:after {
    left: 24px;
    top: 13px;
    width: 13px;
    height: 26.5px;
    border: solid white;
    border-width: 0 7px 7px 0;
  }
}

/* Footer */

.footerCenter {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: #4a556817;
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footerText {
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  font-size: 1.5rem;
  text-decoration: none;
}

.footerText:hover {
  color: #56a5eb;
}

@media (max-width: 1200px) {
  .footerText {
    font-size: 2.33rem;
    padding: 0.66rem;
  }
}
